*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
 background: linear-gradient(360deg, #0000001c 0%) ,url(https://assets.nflxext.com/ffe/siteui/vlv3/7968847f-3da9-44b3-8bbb-13a46579881f/web/IN-en-20250609-TRIFECTA-perspective_32b70b51-20d4-46db-8a1a-3d5428be5f0e_small.jpg);
 height: 100vh;
 background-blend-mode: darken;
height: 100vh;
background-repeat: no-repeat;
background-position: center top;
}

.login img{
    max-width: 11%;
    margin: 1% 10%;
}
.container{
  height: 600px;
  width: 500px;
  background-color: #000000e3;
  transform: translate(90%, 5%);
  border-radius: 3px;
  box-shadow: 2px 2px 4px #000000da;
  padding: 10px 50px;
}
input{
  width: 100%;
  height: 40px;
  background-color: #000000b7;
  border: 0.5px solid #ffffffe3;
  margin: 10px 0px;
  border-radius: 2px;
}
input::placeholder{
  color: #ffffff;
  padding: 0px 20px;
  font-size: 1rem;
}
.SignIn{
  background-color: #e50914;
  color: #fff;
  border: none;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
}
.container h1{
  color: #fff;
  font-size: 2.5rem;
  padding: 0px 20px;
}
.container h3{
    color: #b7b7b7;
    text-align: center;
}
.Useasign-incode{
  background-color: #999;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}
a{
  color: #fff;
  padding: 10px 100px;
  font-size: 1.1rem;
}
