*{
   /* background-color: #222; */
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo img{
    max-width: 25%;
    margin: 1px;
}

nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.details{
    display: flex;
}
.joinnow{
    background-color: #e50914;
    border: none;
    border-radius: 2px;
    padding: 10px 60px;
    front-size: 1.2rem;
    font-weight: 600;
    margin: 10px 20px;
    cursor: pointer;
}
.signin{
    background-color: transparent;
    border: 2px solid#fff;
    padding: 10px 40px;
    border-radius: 2px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 20px;
}
.container{
 background-color: #222;
padding: 1% 30px;
}
.container h1{
font-size: 4rem;
font-weight: 700;
font-family: Arial, Helvetica, sans-serif;
background-color: #222;
}
.container p{
font-size: 1.5rem;
max-width: 50%;
padding: 10px;
word-spacing: 2px;
}
.posters{
   background-color: #222;
   display: flex;
   overflow: scroll;
   padding: 10px 40px;
   text-align: center;
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster-data{
    padding: 0px 20px;
}
.poster-data h1{
    padding: 0px 5px;
    font-size: 1rem;
}

.title{
    background-color: #222;
    padding: 10px 40px;
    font-size: 1.2rem;
}

.watchmore{
  background-color: #222;
  text-align: center;
  padding: 15% 0px;
}

.Watchmore h1{
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 10px 0px;
}
.watchmore p{
 font-size: 1.5rem;
 padding: 0px 28%;
}
.watchmore button{
  padding: 10px 2%;
  font-size: 1.4rem;
  margin: 40px 0px;
}
.aboutnetflix h3{
  background-color: #222;
  color: #777;
  padding: 5%;
}
.contactus p{
  background-color: #222;
  color: #777;
  padding: 10px 5%;
}
footer{
  background-color: #222;
  padding: 5px 2%;
}
footer .col a{
  margin: 2% 2%;
  color: #777;
  text-decoration: none;
  line-height: 30px;
  margin: 10px 20px 10px 50px;

}
footer .col a{
  text-decoration: underline;
}
.col{
  display: inline-grid;
}
.lang button{
  background-color: black;
  padding: 15px 35px;
  margin: 5px 45px;
  border: 2px solid #777;
  
}


